body {
    margin: 0 auto;
    background-color: rgb(17, 176, 224);
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

@keyframes move {
    0% { background-position:0 0, 0 0, 0 0; }
    50% { background-position: 500px 500px, 100px 200px, -100px 150px; }
    100% { background-position: 500px 1000px, 200px 400px, -100px 300px; }
}

@-webkit-keyframes move {
    0% { background-position:0 0, 0 0, 0 0; }
    50% { background-position: 500px 500px, 100px 200px, -100px 150px; }
    100% { background-position: 500px 1000px, 200px 400px, -100px 300px; }
}

.animation {
    height: 600px;
    width: 100vw;
    background-image: url(./1.png), url(./4.png);
    color: white;
    animation: move 10s linear infinite;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.heading > i {
    color: green;
    font-size: 50px;
    transform: rotate(45deg);
}

h1 {
    color: red;
}

h2 {
    margin-bottom: 10px;
    color: white;
    text-transform: capitalize;
    font-size: x-large;
}

h2 > i {
    color: green;
    font-size: 40px;
}

.day-container {
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
    grid-template-rows: auto; 
    grid-gap: 1%;
    width: 55%;
    height: 97%
}
  
.day-container > div {
    display: block;
    padding-bottom: 100%;
    background-color: rgba(0,0,0, .2);
}
  
.day-container > div {
    position: relative;
}
  
.day {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: center;
    font-size: 18px;
}

.clicked-day {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: center;
    font-size: 18px;
    text-decoration: line-through;
    font-size: 20px;
    color: rgb(63, 73, 80);
}

.gift-card {
    position: relative;
}

  
.day-grey {
    color: rgb(63, 73, 80);
}

.day > span {
    font-size: 30px;
    color: red;
}

.decor {
    position: absolute;
    font-size: 50px;
}

.decor-right {
    top: -20%;
    right: -40%;
    color: green;
    transform: rotate(-70deg);
}

.decor-left {
    top: 10%;
    left: 20%;
    color: red;
    transform: rotate(70deg);
    font-size: 50px;
}

.sunday {
    color: red;
}

.snowflakes-top-left {
    position: absolute;
    top: 2%;
    left: 5%;
    display: flex;
    flex-direction: column;
    font-size: 100px;
}

.gift-container {
    position: absolute;
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, .5);
    text-align: center;
}

.gift-container > p {
    font-size: 50px;
    color: red;
}



